easyORM/src/com/itxxr/easyorm/entity/config/easyorm_config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.itxxr.com/easyorm_config" xmlns:tns="http://www.itxxr.com/easyorm_config" elementFormDefault="qualified">
	<complexType name="FieldConfig">
		<attribute name="databaseFieldName" type="string"/>
		<attribute name="entityFieldName" type="string"/>
		<attribute name="entityFieldType" type="string"/>
	</complexType>
	<complexType name="EntityConfig">
		<sequence maxOccurs="unbounded">
			<element name="field" type="tns:FieldConfig"></element>
		</sequence>
	</complexType>
</schema>